* {
    
    color: aliceblue;
}

html,
body {
    border: 1px solid white;
    background-color: black;
    margin: 0;
    height: 100%;
    align-items: center;
}

.container-fluid {
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.row {
    height: 100%;
    width: 100%;
}

.col-4,
.col-6 {
    border: 1px solid rgb(134, 195, 236);
    background-color: black;
    margin: 0;
    padding: 10px;
    height: auto;
    align-items: center;
}

.text-box {
    font-family: "Delius", cursive;
    height: 300px;
    max-height: 83%;
    min-height: 83%;

    margin-bottom: 2%;
    border: 2px ridge azure;
    overflow-y: scroll;
    font-size: 1px;
    background-image: url("../img/paper.webp");
    background-size: contain;
    background-repeat: repeat;
    color: black;
}

.options-box {
    font-family: "Delius", cursive;
    display: flex;
    height: 15%;
    background-color: rgb(68, 68, 68);
    margin: 0px;
    border: 2px ridge azure;
    justify-content: center;
    text-align: center;
}

.player-box {
    margin-left: 10px;
    height: 50%;
    margin-bottom: 2%;
    background-color: rgb(172, 218, 245);
    border: 2px ridge rgb(233, 0, 0);
}

.stat-box {
    font-family: "Audiowide", sans-serif;
    margin-left: 10px;
    height: 48%;
    border: 2px ridge rgb(5, 190, 247);
    color: rgb(0, 0, 0);
    flex-basis: 20%;
    text-align: center;
    font-size: 2em;
    background-image: url("../img/metal.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.stat-header {
    border-bottom: dashed 3px rgb(0, 207, 243);
}

img {
    position: absolute;
}

.helmet,
.swords,
.chestplate,
.shoes {
    opacity: 0;
}

.options-1,
.options-2 {
    padding: 0px;
    border: 1px blue solid;
    border: none;
    font-size: 2em;
    align-content: center;
    cursor: pointer;
}

.options-1 {
    border-right: 5px rgb(0, 102, 255) dotted;
}

.stats {
    color: rgb(0, 0, 0);
    align-content: center;
    height: 20%;
}
.col-5{
    padding: 0;
}
.image-box{
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url("../img/village.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}